body{
    background-color:rgb(253, 253, 252)
}

h1{
    background-color:rgb(96, 191, 222);
    box-shadow: 10px 5px 5px rgb(163, 162, 162);
    /*width:600px;*/
}

h3{
    background-color:rgb(96, 191, 222);
    width: 640px;
    /*height: 330px;*/
    box-shadow: 10px 5px 5px rgb(163, 162, 162);
}

address{
    color:rgb(96, 191, 222);
}
.hub-btn{
    position: fixed;
    border-radius: 8px;
    z-index: 999;
    bottom: 35px;
    right: 20px;
    width: 7%;
    text-align: center;
    background-color: #0F5474;
    color: #fff;
    box-shadow: 0px 4px 6px #0f577980;
    transition: all 0.3s ease;
}
.hub-btn:hover {
    transform: translate(-2px, -2px);
    box-shadow: 0px 6px 8px #0f5779cc;
}


